.body{

    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    .provider-details{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .make-order{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}